<!DOCTYPE html>
<html>
  <head>
    <title>Empty folder</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id="empty">
      <img src="/images/empty.png">
      {{#if notRoot}}
        <p><a href="{{parentPath}}" target="_blank">parent</a></p> 
      {{/if}}
      <p><a href="https://www.dropbox.com/personal/Apps/nodegallerytutorial/{{path}}" target="_blank">go to folder</a></p> 
    </div>
  </body>
</html>
