
<!DOCTYPE html>
<html>
<head>                       
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<script src="/galleria/galleria-1.5.7.min.js"></script>
	<script type='text/javascript' src='/javascripts/page.js'></script>
	<link rel="stylesheet" href="/stylesheets/page.css">
</head>
<body>
  <div class="container">
    <div class="navigation">
      <a href="/">root</a>
      {{#each breadcrumbs}}
        {{#if @last}}
          <span>{{this.name}}</span>
        {{else}}
          <a href="{{this.path}}">{{this.name}}</a>
        {{/if}}
      {{/each}}
    </div>
    <h2>Folders</h2>
    <div class="folder">
      <br />
      {{#if notRoot}}
        <a class="parent" href="{{parent}}">Parent</a>
      {{/if}}
      {{#each folders}}
        <a href="/f/{{this.path}}">{{this.name}}</a>
      {{/each}}
    </div>
    <hr />
    <h2>Gallery</h2>
    <div class="galleria">
      {{#each imgs}}
      <img src="{{this}}">
      {{/each}}
    </div>
  </div>
</body>
</html>
