h2 {
  color: #eee;
}

.galleria{
	max-width: 100%;
	height: 700px;
	margin: 0 auto;
}

body {
  font-size: 2em;
  font-family: "Helvetica Neue", Sans-Serif;
  background: #333;
}

.folder a.parent {
  background: grey;
}

.folder a {
  color: #1f1f1f;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  background: hsl(183, 18%, 66%);
}

.folder {
  margin-bottom: 1em;
  padding: 1em;
}
.navigation a {
  color: #eee
}
.navigation span {
  color: #ccc
}
